<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Get to School Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div id="header">
        <p>KRIS BOWMAN</p>
        <div id="pages">
            <a href="/">Home</a>
            <a href="/aboutMe">About</a>
            <a href="/projects">Projects</a>
            <a href="/contact">Contact</a>
        </div>
    </div>
    <div class="intro" id="top">
        <h1>Hey there, my name is Kris.</h1>
        <p>I'm a programming student, an artist, and a web developer.</p>
        <button>
            <a href="/aboutMe">
            more about me
        </button>
    </div>

    <div id="aboutTitle" class="about">
        <h2>About this Site</h2>
    </div>

    <div id="aboutText" class="about">
        <p>This site is a personal project of mine, created to showcase my skills and interests. It is built using
            HTML, CSS, and JavaScript, with a focus on clean design and user experience.</p>
    </div>

    <div id="footer">
        <p>© 2025 Kris Bowman</p>
    </div>
</body>

<script>
    document.getElementById("pages").querySelectorAll("a").forEach((link) => {
        if (link.href === window.location.href) {
            link.classList.add("current");
        };
    });
</script>

</html>