<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<body>
    <div id="header">
        <h1>Welcome to the Get to School Homepage!</h1>
        <div class="pageNav">
            <span><i class="arrow"></i> Page Navigation</span>
            <div class="pageNav-drop">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/aboutMe">About Me</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>