html {
    overflow: scroll;
    background-color: #2d4e43;
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal
}

#header {
    display: inline-flex;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1%;
    background-color: #ffffff;
}

#pages {
    display: flex;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    margin: 1%;
    padding: 1%;
    background-color: #58a36b;
    border-radius: 25px;
}

#pages a {
    display: inline-block;
    color: #ffffff;
    background-color: #58a36b;
    text-decoration: none;
    text-align: center;
    padding: 5%;
    margin: 1%;
    border-radius: 100%;
    flex: 1 1 auto
}

#pages a.current {
    background-color: #498558;
}

.intro {
    color : #ffffff;
    display: block;
    margin: 5% 10%;
}

.about {
    display: block;
    background-color: #ffffff;
    padding: 30px;
    margin: 10% 20%;
}